{
    "key" : "caf791fc-d224-11e8-956a-00165e0004e8",
    "email" : "system@[::1]",
    "password" : "password",
    "vendor": "whitelamp-uk",
    "package": "hpapi-sec",
    "class": "\\Hpapi\\SecurityJob",
    "jobs" : {
        "10s" : {
            "scanSeconds" : 10,
            "rules" : [
                {
                    "method": "req",
                    "hits" : 10,
                    "withinSeconds" : 10,
                    "userLockSeconds" : 300
                },
                {
                    "method": "iplim",
                    "hits" : 2,
                    "withinSeconds" : 10,
                    "userLockSeconds" : 300
                },
                {
                    "method": "auth",
                    "hits" : 10,
                    "withinSeconds" : 60,
                    "userLockSeconds" : 86400
                }
            ]
        },
        "30s" : {
            "scanSeconds" : 30,
            "rules" : [
                {
                    "method": "req",
                    "hits" : 30,
                    "withinSeconds" : 30,
                    "userLockSeconds" : 300
                },
                {
                    "method": "ipdeny",
                    "hits" : 2,
                    "withinSeconds" : 30,
                    "userLockSeconds" : 300
                },
                {
                    "method": "key",
                    "hits" : 10,
                    "withinSeconds" : 60,
                    "userLockSeconds" : 300
                },
                {
                    "method": "pwd",
                    "hits" : 10,
                    "withinSeconds" : 60,
                    "userLockSeconds" : 300
                }
            ]
        }
    }
}