<?php

// Job configuration
define ( 'HPAPI_SEC_CONFIG',           HPAPI_DIR_CONFIG.'/whitelamp-uk/hpapi-sec.cfg.json'                                      );

// Digest
define ( 'HPAPI_SEC_DIGEST',           HPAPI_DIR_LOG.'/hpapi-sec-digest.log'                                                    );
define ( 'HPAPI_SEC_DIGEST_LINES',     4096                                                                                     );
define ( 'HPAPI_SEC_DIGEST_TMP',       '/tmp/whitelamp-uk-hpapi-sec-digest-'                                                    );

// Blacklists
define ( 'HPAPI_SEC_BLACKLIST',        HPAPI_DIR_LOG.'/hpapi-sec-blacklists.php.log'                                            );
define ( 'HPAPI_SEC_BLACKLIST_ITEMS',  1000                                                                                     );

